<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Google Fonts -->
    <!-- Swap out "Roboto" for the font(s) you want to use -->
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css" crossorigin="anonymous">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    
    <!-- Your own CSS -->
    <link rel="stylesheet" href="https://github.com/ben-scott-kellogg/ben-scott-kellogg.github.io/blob/master/styles.css">

    <div class="jumbotron jumbotron-fluid" style="background-image: url(https://ewscripps.brightspotcdn.com/dims4/default/58a27df/2147483647/strip/true/crop/900x506+0+84/resize/1280x720!/quality/90/?url=https%3A%2F%2Fewscripps.brightspotcdn.com%2Fd1%2F75%2F288028bb4eda9018f9ea1e245178%2Fsnowfall.jpg)">
    <h1 class="display-4">The Accurate Weather and News Internet Page</h1>
    <p class="lead">The most accurate source for news and weather on the entire internet </p>
    <hr class="my-4">
    <title>Accurate News</title>
  </div>
</head>

<h1>Latest News For <%=@location%> </h1>

  <div class="container">
  <div class="row mt-4">
    <div class="col-sm-4 text-center">
      <h4>Weather Report</h4>
      <h6>Todays Weather</h6>
      <p> <%=@current%> </p>
      <h6>8 Day Forecast</h6>
      <p>
            <% for day in @daily_forecast %>
              A high of <%= day["temperatureHigh"] %> and <%= day["summary"] %>
            <% end %> </p>
    </div>
    <div class="col-sm-4 text-center">
      <h5>News Report</h5>
      <p>
      <% for article in @article %>
   <%= article["title"] %>
    <% end %></p>
    </div>
  </div>
</body>

</html>
